page-feed {

    .toolbar{

        padding-bottom: 5px;

        .toolbar-content{
            
            .item{
                background-color: #e0301e!important;

                .item-inner{

                    border-bottom: 0px;

                    .label{
                        margin-bottom: 5px;
                        margin-top: -5px;


                        @mixin fontStyle {
                            color: #fff;
                            font-weight: bold;
                        }
                        
                        .feed-user{
                            @include fontStyle();
                        }

                        .feed-score{
                            @include fontStyle();
                        }

                        .feed-comment-count{
                            @include fontStyle();
                        }
                    }
                }
            }
        }
    }

    .content-wrapper{

        .scroll-content{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .content{

        .scroll-content{

            background-color: #f4f4f7;

            .feed{
                margin-top: 70px;
                background-color: #f4F4f7;
                position: sticky;
                top: 65px;

                .item-inner{

                    border-bottom: 0px;

                    .feed-header-wrapper{

                        .feed-title{
                            font-size: 3rem;
                            color: #000;
                        }
    
                        .btn-author{
                            color: gray;
                            padding-left: 0px;
                        }
                    }
                }
            }

            .card-list-wrapper{
                background-color: #f4f4f7;


                .comment-header-wrapper{
                   margin-bottom: 5px!important;

                   .card-header{

                    padding-top: 8px;
                    padding-bottom: 8px;

                    .title{
                        font-size: 2rem;
                        font-weight: bold;
                        color: gray;
                    }
                   }
                   
                   
                }

                .comment-text{
                    text-align: justify;
                    
                }
            }

            .label{
                display: none;
            }
        
            .grid{
                border-bottom: 0px;

                .comment{
                    padding: 10px;
                    padding-bottom: 5px;
                    border-bottom: 1px solid gray;
                    
                    .tile{


                        .tile-subtitle{
                            text-align: justify;

                            p{
                                margin-bottom: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}
