page-feed {

    .toolbar{

        padding-bottom: 5px;

        .toolbar-content{
            
            .item{
                background-color: #f8f8f8!important;

                .item-inner{

                    border-bottom: 0px;

                    .label{
                        margin-bottom: 5px;
                        margin-top: -5px;
                    }
                }
            }
        }
    }

    .content-wrapper{

        .scroll-content{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .content{

        .scroll-content{

            .feed{
                margin-top: 75px;
            }

            .label{
                display: none;
            }
        
            .grid{
                border-bottom: 0px;

                .comment{
                    padding: 10px;
                    padding-bottom: 5px;
                    border-bottom: 1px solid gray;
                    
                    .tile{


                        .tile-subtitle{
                            text-align: justify;

                            p{
                                margin-bottom: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}
