<ion-header>
  <ion-navbar>
    <ion-title>feed</ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="!loading">
  <ion-item class="feed">
    <div item-content flex-start class="feed-header-wrapper">
      <h3>{{feed?.title}}</h3>
      <p>
        {{ feed?.score }} points by

        <a (click)="viewUser(feed.by)">{{ feed?.by }}</a>

        | {{ feed?.kids?.length }} comments
      </p>
    </div>
  </ion-item>

  <ion-list>
    <ion-grid >
      <ion-row>
        <ion-col col-12>
          <div *ngFor="let comment of feed?.kids" item-content class="comment">
            <div *ngIf="comment.text" class="tile">
              <div class="tile-icon">
                <i class="icon icon-more-horiz"></i>
              </div>
              <div class="tile-content">
                <p class="tile-title text-gray">
                  <a (click)="viewUser(comment.by)">{{ comment.by }}</a>
                  {{ comment?.time | date: 'short' }}
                </p>
                <div class="tile-subtitle" [innerHtml]="comment?.text"></div>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

</ion-content>

<<ion-content class="content-wrapper" *ngIf="loading">
  <ion-spinner name="dots"></ion-spinner>
</ion-content>