news-list {

    .content-wrapper{

        .scroll-content{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .scroll-content{

        .page-spinner{
            position: fixed;
            top: 45%;
            left: 49%;
        }

        .hide{
            display: none;
        }

        .card{
            margin-left: 0px!important;
            margin-right: 0px!important;
            width: 100%!important;
        }
    }

    .input-wrapper{

        .label{
            display: none;
        }
    }

    .feed{

        .feed-index{
            margin-right: 25px;
            font-weight: 700;
            color: #5755d9;
        }

        .feed-metadata{
            padding-top: 10px;
            padding-bottom: 10px;


            .feed-header{

                .feed-header-title{

                    color: #727e96;
                }
            }
        }
    }
}
