news-list {

    .content-wrapper{

        .scroll-content{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .scroll-content{

        .page-spinner{
            position: fixed;
            top: 45%;
            left: 49%;
        }

        .hide{
            display: none;
        }

        .card{
            margin-left: 0px!important;
            margin-right: 0px!important;
            margin-bottom: 2px;
            width: 100%!important;
            background-color: #fff;
            padding-left: 10px;
            padding-right: 10px;

            .card-header{
                overflow: auto;
                text-overflow: initial;
                white-space: normal;
                color: #000!important;

                .feed-title{
                    font-weight: bold;
                    font-family: 'Open Sans', sans-serif;
                    font-family: 'Alegreya', serif;
                    font-size: 2rem;
                }
            }

            .card-content{
                padding-bottom: 0px;

                p {

                    button{
                        padding-left: 0px;
                        color: #e0301e;
                        
                    }
                }
            }

            .row{
                margin-top: -15px;

                button{
                    color: gray;
                    background: transparent;
                }
            }
        }
    }

    .input-wrapper{

        .label{
            display: none;
        }
    }
}
