<ion-content>
    <ion-spinner class="page-spinner" *ngIf="initial" name="dots"></ion-spinner>

    <div class="card-list-wrapper" *ngIf="!initial">
        <ion-card *ngFor="let feed of feeds; let i = index;"> 
            <ion-card-header>
                <span class="feed-title">{{ feed?.title }}</span>
            </ion-card-header>
            <ion-card-content>
                <p>
                    <button ion-button icon-start clear small>
                        <ion-icon name="heart"></ion-icon>
                        <div class="feed-score">{{feed?.score || 0}} points</div>
                    </button>
                </p>
            </ion-card-content>

            <ion-row>
                <ion-col>
                    <button (click)="viewUser(feed,$event)" ion-button icon-start clear small>
                            <ion-icon name="contact"></ion-icon>
                            <div class="feed-author">{{ feed?.by }}</div>
                    </button>
                </ion-col>
                <ion-col *ngIf="feedType !== 'job'">
                        <button (click)="viewComments(feed,$event)" ion-button icon-start clear small>
                            <ion-icon name="text"></ion-icon>
                            <div class="feed-comment-count">{{feed?.kids?.length || 0}} comments</div>
                        </button>
                </ion-col>
            </ion-row>
        </ion-card>

    </div>

    <ion-refresher (ionRefresh)="doRefresh($event)">
            <ion-refresher-content
              pullingIcon="arrow-dropdown"
              pullingText="Pull to refresh"
              refreshingSpinner="dots"
              refreshingText="Refreshing feed...">
            </ion-refresher-content>
    </ion-refresher>
    <ion-infinite-scroll [class.hide]="initial" *ngIf="pageNumber !== totalPages" (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content loadingSpinner="dots">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>

<!-- <ion-content class="content-wrapper" *ngIf="initial">
    
</ion-content> -->