page-new {
    
    .scroll-content{
        padding: 0px!important;
        margin-bottom: 20px!important;

        .list{
            margin-bottom: 5px!important;
        }

        .infinite-loading{
            margin-bottom: 5px!important;
        }
    }
}
