.pager{
    position: sticky;
    box-shadow: none!important;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #f8f9fa;
    min-height: 6em;
    border-radius: 10px;
}
