<ion-content padding *ngIf="!loading">
<div class="pager">
    <button (click)="fetchPrev(feed?.pageNumber)" [disabled]="feed?.pageNumber == 1" ion-button round outline>
        <ion-icon name="arrow-round-back"></ion-icon>
    </button>
    <ion-item>
      <ion-label>
          {{feed?.pageNumber}} OF {{feed?.totalPages}}
      </ion-label>
    </ion-item>
    <button (click)="fetchNext(feed?.pageNumber)" [disabled]="feed?.pageNumber == feed?.totalPages" ion-button round outline>
        <ion-icon name="arrow-round-forward"></ion-icon>
    </button>
</div>
</ion-content>
